@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to Spark Client Manager! Our mission is to make managing you clients and projects a breeze. We are a small group in Indianapolis, IN. Working with clients everday we know how time consuming managing all the tasks that need to get done can be. Enter Spark Client Manager. Spend less time managing and more time with your client and spark a connection </p>
