@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Indianapolis, IN<br />
    USA<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@spark.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@spark.com</a>
</address>